body {
    font: 16px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #000;
    width: 100%;
    height: 100%;
}

img, 
embed, 
object, 
video {
	max-width: 100%;
}

h1 {
	font-size: 1.6rem;
	text-align: center;
}

h2 {
	font-size: 1.4rem;
	text-align: center;
	padding-top: 1.4rem;
}

.header{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	align-items: flex-end;
    border-bottom: #efc514 1.2px solid;
}

.logo {
	max-width: 320px;
	margin: 1rem 1rem .3rem 2.6rem;
}

.navigation {
	flex-grow: 1;
	align-items: flex-end;
	margin: 0 1rem 0 0;
}

.ul-nav {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	justify-content: flex-end;
	align-content: flex-end;
	box-sizing: border-box;
	padding-left: 0;
}

.current {
	text-decoration: none;
	list-style: none;
	padding: .6rem 2rem;
	text-align: center;
	color: #efc514;
	font-size: 1.3rem;
	font-weight: bold;
    height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.a-nav {
	text-decoration: none;
	list-style: none;
	padding: .6rem 2rem;
	text-align: center;
	color: #e5e5e5;
	font-size: 1.3rem;
	font-weight: bold;
    height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.a-nav:hover {
	color: #ccc;
}

.main {
	background-color: #191919;
	min-height: 41rem;
}

.contact-info {
	color: #fff;
	margin-left: 28rem;
	margin-right: auto;
    padding: 4rem 0;
    width: max-content;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
}

.email,
.phone {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.mailto {
	color: #e5e5e5;
	font: 22px/1.5 Arial, Helvetica, sans-serif;
}

.fa-envelope, 
.fa-phone-square {
	color: #efc514;
	font-size: 3rem;
	padding: 1rem;
}

.paragraph {
	font-size: 1.3rem;
	color: #e5e5e5;
}

.footer {
    border-top: #efc514 .8px solid;	
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.footer-img {
	max-width: 170px;
	margin: .4rem;
}

.copyright {
	margin: 0;
	font-size: 0.7rem;
	color: #999;
}


@media screen and (max-width: 480px) {
	.logo {
		margin: auto;
		padding: .5rem .5rem 0;
	}

	.navigation {
		margin: auto;
	}

	.ul-nav {
		flex-direction: column;
		width: 100%;
		justify-content: stretch;
		align-items: center;
		align-content: center;
		box-sizing: content-box;
		padding: .7rem 0 0;
	}

	.a-nav,
	.current {
		font-size: 1.4rem;
		align-self: center;
	}

	.banner-header {
		padding: 0;
		visibility: hidden;
	}

	.hidden-header-container {
		display: block;
		text-align: center;
		margin: .5rem 0 2rem 0;
	}

	.hidden-header {
		display: inline;
		margin: 0;
		font-size: 1.5;
		font-family: "Times, Times New Roman", serif;
		font-style: oblique;
		padding: 0 .5rem;
	}

	.intro-container {
		padding: 0 .4rem;
	}

	.motorbike-container,
	.construction-container,
	.safety-container {
		padding-bottom: 0;
	}

	.article {
		width: 100%;
		padding-top: 1.6rem;
	}

	.title {
		font-size: 1.2rem;
	}

	.subtitle {
		font-size: 1.1rem;
		padding-right: .5rem;
	}

	.paragraph,
	.mailto {
		font-size: 1rem;
		margin: 0;
	}

	.contact-info {
		margin-left: 16vw;
	}

	.main {
		min-height: 20rem;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.logo {
		margin: auto;
		padding: .5rem .5rem 0;
	}

	.navigation {
		margin: auto;
	}

	.ul-nav {
		flex-direction: column;
		width: 100%;
		justify-content: stretch;
		align-items: center;
		align-content: center;
		box-sizing: content-box;
		padding: .7rem 0 0;
	}

	.a-nav,
	.current {
		font-size: 1.3rem;
		align-self: center;
	}

	.article {
		width: 90%;
		padding: 1.6rem 0 3rem;
		box-sizing: border-box;
	}

	.title {
		font-size: 1.2rem;
	}

	.subtitle {
		font-size: 1.1rem;
		padding-right: .5rem;
	}

	.paragraph,
	.mailto {
		font-size: 1rem;
		margin: 0;
	}

	.contact-info {
		margin-left: 18vw;
	}

	.main {
		min-height: 20rem;
	}
}	


@media screen and (min-width: 769px) and (max-width: 1024px) {
	.navigation {
		margin-right: 0;
	}

	.a-nav,
	.current {
		padding-left: .96rem;
		padding-right: .96rem;
		font-size: 1.2rem;
	}

	.ul-nav {
		justify-content: space-around;

	}


	.article {
		width: 95%;
	}

	.paragraph,
	.mailto {
		font-size: 1rem;
		margin: 0;
	}

	.contact-info {
		margin-left: 22vw;
	}

	.main {
		min-height: 30rem;
	}

}


@media screen and (min-width: 1025px) and (max-width: 1254px) {
	.article {
		width: 90%
	}

	.ul-nav {
		justify-content: space-around;
	}

	.navigation {
		padding-left: .73rem;
		padding-right: .73rem;
	}
}


@media screen and (min-width: 1255px) and (max-width: 1440px) {
	.article {
		width: 80%;
	}
}


@media screen and (min-width: 1441px) and (max-width: 1639px) {
	.article {
		width: 70%;
	}
}